body{
  width: 90%;
  margin-left: 2%;
  margin-right: 2%;
  padding:2px;
  /* background-color: black; */
}

#title {
  width: 80%;
  padding:5px;
  font-size: 30px;
  border: solid;
  text-align: center;
  margin: 0 auto;
  /* max-width: 500px; */
  /* align-items: center; */
  display: inline-block;
}

#areaTop {
  width: 80%;
  padding:10px;
  background-color: lightgray;
  display: inline-block;
}

#panel {
    width: 220px;
    height: 220px;
    overflow: hidden;
}

.tile {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid silver;
    border-radius: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    /* box-shadow: gray 2px 2px; */
    float: left;
    cursor: pointer;
    margin: 1px;
}

.r_tile {
    /* width: 50px;
    height: 50px; */
    line-height: 50px;
    /* border: 1px solid silver;
    border-radius: 10px; */
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    /* box-shadow: gray 2px 2px; */
    float: left;
    cursor: pointer;
}

.flg_tile {
    /* width: 50px;
    height: 50px; */
    line-height: 50px;
    /* border: 1px solid silver;
    border-radius: 10px; */
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    /* box-shadow: gray 2px 2px; */
    float: left;
    cursor: pointer;
}

#level {
  font-size: 10px;
}

.lvlBtn {
  font-size: 30px;
  width:20%;
  padding:10px;
  background-color: #191970;
  border-radius: 10%;
  color: white;
}

#status {
  width: 100px;
  text-align: center;
}
